[submodule "Ekips Prime Pro Language/src"]
	path = Ekips Prime Pro Language/src
	url = https://github.com/Ekips-Prime-Pro/Ekips-Prime-Pro-Language.git
[submodule "Ekips Prime Pro Editor/src"]
	path = Ekips Prime Pro Editor/src
	url = https://github.com/Ekips-Prime-Pro/Ekips-Prime-Pro-Editor.git
