[submodule "Ekips Prime Pro Language/Ekips-Prime-Pro-Language"]
	path = Ekips Prime Pro Language/Ekips-Prime-Pro-Language
	url = git@github.com:Ekips-Prime-Pro/Ekips-Prime-Pro-Language.git
[submodule "Ekips Prime Pro Editor/Ekips-Prime-Pro-Editor"]
	path = Ekips Prime Pro Editor/Ekips-Prime-Pro-Editor
	url = git@github.com:Ekips-Prime-Pro/Ekips-Prime-Pro-Editor.git
